# **Tuples**

1. Create a tuple called `person` with the following elements:  
   - `"Alex"` (name)  
   - `30` (age)  
   - `"Engineer"` (profession)  
   - `True` (is_employed)  

2. Print the `name` and `profession` from the tuple.  

3. Create a tuple called `numbers` with values `(10, 20, 30, 40, 50)`.  
   - Print the first element and the last element using indexing.

In [1]:
# 1
person = ("Alex", 30, "Engineer", True)

# 2
print("Name:", person[0])
print("Profession:", person[2])

# 3
numbers = (10, 20, 30, 40, 50)

# 3(A)
print("First element:", numbers[0])
print("Last element:", numbers[-1])

Name: Alex
Profession: Engineer
First element: 10
Last element: 50

# **Sets**

1. Create a set called `fruits` with the following items:  
   `"apple"`, `"banana"`, `"cherry"`, `"apple"`, `"orange"`.  
   - Print the set and explain how duplicates are handled.  

2. Add a new fruit `"grape"` to the `fruits` set.  
   - Then remove `"banana"` from the set.  

3. Create two sets:  
   - `set_a = {1, 2, 3, 4}`  
   - `set_b = {3, 4, 5, 6}`  
   Perform and print the results of the following operations:  
   - Union  
   - Intersection  
   - Difference (set_a - set_b)  
   - Symmetric Difference  

4. Given the list `numbers = [1, 2, 2, 3, 4, 4, 5]`,  
   - Convert it into a set to remove duplicates and print the result.

In [2]:
# 1
fruits = {"apple", "banana", "cherry", "apple", "orange"}
print("Fruits set:", fruits)

# 2
fruits.add("grape")
print("Fruits set after adding 'grape':", fruits)

# 2(A)
fruits.remove("banana")
print("Fruits set after removing 'banana':", fruits)

# 3 (A,B)
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# 3 (C,D,E,F)
print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)
print("Difference (set_a - set_b):", set_a - set_b)
print("Symmetric Difference:", set_a ^ set_b)

# 4
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print("Unique numbers:", unique_numbers)

Fruits set: {'cherry', 'apple', 'banana', 'orange'}
Fruits set after adding 'grape': {'orange', 'cherry', 'apple', 'banana', 'grape'}
Fruits set after removing 'banana': {'orange', 'cherry', 'apple', 'grape'}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set_a - set_b): {1, 2}
Symmetric Difference: {1, 2, 5, 6}
Unique numbers: {1, 2, 3, 4, 5}